/*------button------*/
#addEmploye:hover, .del:hover, .modif:hover {
    cursor: pointer;
    background-color: rgb(204, 202, 202);
}

.modif {
    margin-right: 1%;
}

/*-----table------*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

table button {
    float: right;
}

table tr {
    width: 80%;
}

/*----MODAL------*/

#input {
    display: flex;
    flex-direction: column;
    margin-inline: 30%;
    padding-block: 1%;
}

#input input{
    margin-bottom:1% ;
    width: 100%;
}
